# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.depend

*.layout

bin/Release/LuefterKlappe.elf

bin/Release/LuefterKlappe.hex

bin/Release/LuefterKlappe.lock

bin/Release/LuefterKlappe.lss

bin/Release/LuefterKlappe.map

bin/Release/LuefterKlappe.sig

bin/Release/LuefterKlappe.eep
